{% extends "layout.html" %}
{% block title %}Add company{% endblock %}
{% block content %}
    <h1 class="title">Add {{ item }}</h1>

    <form action="" method="post" name="add_single_field_item">
      <div class="field">
        <label for={{ item }} class="label">{{ item|title }}</label>
        <div class="control">
          <input type="text" id={{ item }} name={{ item }} class="input" required="required"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}