{% extends "layout.html" %}
{% block title %}Add movie{% endblock %}
{% block content %}
    <h1 class="title">Add movie</h1>
    <form action="" method="post" name="add_movie">
      <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
          <input type="text" id="title" name="title" class="input" required="required"/>
        </div>
      </div>
      <div class="field">
        <label for="original_title" class="label">Original Title</label>
        <div class="control">
          <input type="text" id="original_title" name="original_title" class="input" />
        </div>
      </div>
	  <div class="field">
        <label for="budget" class="label">Budget</label>
        <div class="control">
          <input type="number" id ="budget" name="budget" class="input"/>
        </div>
      </div>
      <div class="field">
        <label for="duration" class="label">Duration</label>
        <div class="control">
          <input type="number" id="duration" name="duration" class="input"/>
        </div>
      </div>
      <div class="field">
        <label for="vote_average" class="label">Vote Average</label>
        <div class="control">
          <input type="number" id="vote_average" name="vote_average" step="0.01" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="vote_count" class="label">Vote Count</label>
        <div class="control">
          <input type="number" id="vote_count" name="vote_count" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="original_language" class="label">Original Language</label>
        <div class="control">
          <input type="text" id="original_language" name="original_language" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="release_date" class="label">Release Date</label>
        <div class="control">
          <input type="date" id="release_date" name="release_date" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="popularity" class="label">Popularity</label>
        <div class="control">
          <input type="number" id="popularity" step="0.01" name="popularity" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="imdb_id" class="label">IMDB_id</label>
        <div class="control">
          <input type="text" id="imdb_id" name="imdb_id" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="overview" class="label">Overview</label>
        <div class="control">
          <input type="text" id="overview" name="overview" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="tag_line" class="label">Tag-line</label>
        <div class="control">
          <input type="text" id="tag_line" name="tag_line" class="input"/>
        </div>
      </div>	


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}
               