{% extends "layout.html" %}
{% block title %}Add movie{% endblock %}
{% block content %}
    <h1 class="title">Add movie</h1>
    <form action="" method="post" name="add_movie">
      <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
          <input type="text" id="title" name="title" class="input" required="required"/>
        </div>
      </div>
	  <div class="field">
        <label for="budget" class="label">Budget</label>
        <div class="control">
          <input type="number" id ="budget" name="budget" min="0" class="input"/>
        </div>
      </div>
      <div class="field">
        <label for="duration" class="label">Duration</label>
        <div class="control">
          <input type="number" id="duration" name="duration" min="0" class="input"/>
        </div>
      </div>
      <div class="field">
        <label for="vote_average" class="label">Vote Average</label>
        <div class="control">
          <input type="number" id="vote_average" name="vote_average" step="0.01" min="0", max="10" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="vote_count" class="label">Vote Count</label>
        <div class="control">
          <input type="number" id="vote_count" name="vote_count" min=0 class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="language" class="label">Language</label>
        <div class="control">
          <input type="text" id="language" name="language" maxlength="2" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="release_date" class="label">Release Date</label>
        <div class="control">
          <input type="date" id="release_date" name="release_date" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="imdb_id" class="label">IMDB_id</label>
        <div class="control">
          <input type="text" id="imdb_id" maxlength="12" name="imdb_id" class="input"/>
        </div>
      </div>
	  <div class="field">
        <label for="overview" class="label">Overview</label>
        <div class="control">
          <input type="text" id="overview" name="overview" class="input"/>
        </div>
      </div>
      <div class="field">
        <label class="label">Genres</label>
        <div class="control">
          <div class="select is-multiple">
            <select multiple size="8" id="genres" name="genres">
              {% for id, genre in genres %}
                <option value="{{id[0]}}">{{genre.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}
               