{% extends "layout.html" %}
{% block title %}Add movie{% endblock %}
{% block content %}
    <h1 class="title">Add movie</h1>

    <form action="" method="post" name="add_movie">
      <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
          <input type="text" name="title" class="input" required="required"/>
        </div>
      </div>
        <div class="field">
        <label for="original_title" class="label">Original Title</label>
        <div class="control">
          <input type="text" name="original_title" class="input" />
        </div>
      </div>
        <div class="field">
        <label for="duration" class="label">Duration</label>
        <div class="control">
          <input type="number" name="duration" class="input"/>
        </div>
      </div>
        <div class="field">
        <label for="vote_average" class="label">Vote Average</label>
        <div class="control">
          <input type="number" name="vote_average" step="0.01" class="input"/>
        </div>
      </div>

        <div class="field">
        <label for="budget" class="label">Budget</label>
        <div class="control">
          <input type="number" name="budget" class="input"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}