{% extends "layout.html" %}
{% block title %}Add company{% endblock %}
{% block content %}
    <h1 class="title">Add company</h1>

    <form action="" method="post" name="add_company">
      <div class="field">
        <label for="company" class="label">Company</label>
        <div class="control">
          <input type="text" name="company" class="input" required="required"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}