{% extends "layout.html" %}
{% block title %}Add language{% endblock %}
{% block content %}
    <h1 class="title">Add language</h1>

    <form action="" method="post" name="add_language">
      <div class="field">
        <label for="language" class="label">Language</label>
        <div class="control">
          <input type="text" name="language" class="input" required="required"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}