<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>My movies - {% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bulma.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='mymovies.css') }}"/>
  </head>
  <body>
    <header>
      <nav class="navbar is-primary">
          <div class="navbar-brand">
              <a class="navbar-item" href="{{ url_for('home_page') }}" style="font-weight:bold;">
                  Movies
              </a>
          </div>

        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <a href="{{ url_for('search_movie_page') }}" class="navbar-item">Search movies</a>
            <a href="{{ url_for('discover_page') }}" class="navbar-item">Discover</a>
            <a href="{{ url_for('notifications_page') }}" class="navbar-item">Notifications</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Add Data
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item" href="#">Add movie</a>
                <a class="navbar-item" href="#">Add genre</a>
                <a class="navbar-item" href="#">Add company</a>
                <a class="navbar-item" href="#">Add country</a>
                <a class="navbar-item" href="#">Add language</a>


              </div>
            </div>
            </nav>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="content">
        <small>&copy; 2015-2018, Kilgore Trout</small>
      </div>
    </footer>
  </body>
</html>