<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>My movies - {% block title %}{% endblock %}</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='mymovies.css') }}"/>
  </head>
  <body>
    <header>
      <nav class="navbar is-primary">
          <div class="navbar-brand">
              <a class="navbar-item" href="{{ url_for('home') }}" style="font-weight:bold;">
                  Movies
              </a>
          </div>

        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <a href="{{ url_for('search_movie') }}" class="navbar-item">Search movies</a>
            <a href="{{ url_for('discover') }}" class="navbar-item">Discover</a>
            <a href="{{ url_for('notifications') }}" class="navbar-item">Notifications</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Add Data
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{ url_for('add_movie') }}">Add movie</a>
                {% for item in ["genre", "company", "country", "language"] %}
                  <a class="navbar-item" href=" {{ url_for('add_single_field_item', item=item) }}">Add {{item}}</a>
                {% endfor %}
              </div>
            </div>
            </nav>
          </div>
        </div>
      </nav>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </header>

    <main>
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="content">
        <small>&copy; 2015-2018, Kilgore Trout</small>
      </div>
    </footer>
  </body>
</html>