{% extends "layout.html" %}
{% block title %}Your Profile{% endblock %}
{% block content %}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
        {{ current_user.id }}
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
            {{ user.bio }}
      <a href="#">{{user.email}}</a>.
      <br>
      <time datetime="2016-1-1">Joined at: {{user.joined_at}}</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="{{ url_for('edit_profile') }} " class="card-footer-item ">Edit</a>
    <a href="{{ url_for('delete_profile') }} " class="card-footer-item has-background-danger">Delete (There is no additional checks, your account will be deleted if you press this button)</a>
  </footer>
</div>
{% endblock %}